* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif
}

#gameContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    img{
        width: 200px;
        height: 200px;
        position: relative;

    }

    .back{
        color: black;
        position: absolute;
        z-index: 999999;
        background-color: black;
        width: 200px;
        height: 200px;
        
    }

    
}

.flip{
    background-color: transparent; 
 }

